<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GameDirectory" value="" />
    <add key="VanillaScriptsDirectory" value="" />
    <add key="ModsDirectory" value="" />
    <add key="CheckScripts" value="true" />
    <add key="CheckXmlFiles" value="true" />
    <add key="CheckBundles" value="1" />
    <add key="IgnoreModNames" value="" />
    <add key="CollapseIdenticalConflicts" value="true" />
    <add key="CollapseCustomLoadOrder" value="false" />
    <add key="CollapseNotMergeable" value="false" />
    <add key="ValidateMergeSources" value="true" />
    <add key="ValidateCustomLoadOrder" value="true" />
    <add key="ReviewEachMerge" value="false" />
    <add key="CheckDuplicatePrios" value="true" />
    <add key="PlayCompletionSounds" value="false" />
    <add key="ReportAfterMerge" value="false" />
    <add key="ReportAfterPack" value="false" />
    <add key="AutoCreateScriptMerges" value="false" />
    <add key="AutoDeleteOldMerges" value="true" />
    <add key="AutoOverwriteOldMerges" value="true" />
    <add key="AutoSkipKDiff3InfoDialogs" value="true" />
    <add key="AutoExit" value="false" />
    <add key="AutoBackupLoadOrder" value="true"/>
    <add key="ColorTheme" value="0" />
    <add key="AccentColor" value="true" />
    <add key="PrioToolTips" value="0" />
    <add key="NoConflictsWitcher" value="true" />
    <add key="RanThroughVortex" value="false" />
    <add key="MergedModName" value="mod0000_MergedFiles" />
    <add key="KDiff3Path" value="Tools\KDiff3\KDiff3.exe" />
    <add key="QuickBmsPath" value="Tools\QuickBMS\quickbms.exe" />
    <add key="QuickBmsPluginPath" value="Tools\QuickBMS\witcher3.bms" />
    <add key="WccLitePath" value="Tools\wcc_lite\bin\x64\wcc_lite.exe" />
    <add key="StartMaximized" value="false" />
    <add key="StartWidth" value="" />
    <add key="StartHeight" value="" />
    <add key="StartPosTop" value="" />
    <add key="StartPosLeft" value="" />
  </appSettings>
</configuration>